apispec==4.0.0
arrow==0.17.0
bottle==0.12.19
CacheControl==0.12.6
certifi==2020.11.8
chardet==3.0.4
circuitbreaker==1.3.1
coverage==5.3
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
isodate==0.6.0
jaeger-client==4.3.0
msgpack==1.0.0
numpy==1.19.4
opentracing==2.3.0
ply==3.11
prometheus-client==0.9.0
py-zipkin==0.20.1
python-dateutil==2.8.1
python-decouple==3.3
PyYAML==5.3.1
requests==2.25.0
requests-mock==1.8.0
six==1.15.0
-e git+git@github.com:telekom/voice-skill-sdk.git@3e3440b885863e644321cc6ac0d838a2e565f104#egg=skill_sdk
threadloop==1.0.2
thrift==0.13.0
thriftpy2==0.4.12
timezonefinder==4.5.0
tornado==6.1
urllib3==1.26.2
zope.event==4.5.0
zope.interface==5.2.0
